/*************************************************
    GENERAL STYLES
 *************************************************/
:root {
  --body-clr: #fff;
  --bg-clr: #CFD8DD;
  --outline-clr: #000;
  --shadow-clr: #DEDEDE;
  --cheeks-clr: #FAE4EC;
}

body {
  background-color: var(--bg-clr);
  font-family: 'Nosifer', cursive;
}

.body {
  background-color: var(--body-clr);
}

.outline {
  background-color: var(--outline-clr);
}

.shadow {
  background-color: var(--shadow-clr);
}

.cheeks {
  background-color: var(--cheeks-clr);
}

/*************************************************
    CONTAINER STYLES
 *************************************************/
.container-fluid {
  width: 600px;
  margin: 8vh auto;
  z-index: 533;
}

[class*="col-"] {
  height: 25px;
}


/*************************************************
    TITLE STYLE
 *************************************************/
.title {
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  background: #FF0000;
  background: linear-gradient(to top, #FF0000 20%, #000000 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 333;
}

/*************************************************
    ANIMATION STYLES
 *************************************************/
.icons {
  padding: 0px 20px;
  display: flex;
}

.icons img {
  width: 50%;
}

.icons span {
  width: 100%;
  animation: animate 30s linear infinite;
  animation-duration: calc(90s / var(--l));
}

@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }

  70% {
    transform: translateY(94vh) scale(1);
  }

  100% {
    transform: translateY(94vh) scale(0);
  }
}